
	<h2 class="h2about text-center">
		A propos
	</h2>
<section class="h-100 w-70"id="about">
	<div class="about rounded-circle">
	<%= image_tag("tk.jpg", class:"img-fluid rounded-circle float ")%>
	<p class="aboutp lead">Dans ce monde bizarre dans lequel nous vivons, j'ignore si je suis en enfer ou au paradis. Je voudrais préserver indéfiniment ma sensibilité d'enfant. Aussi mature, aussi riche que je devienne, je veux rester intègre, fidèle à moi-même, à ma vérité.</p>
	<footer class="blockquote-footer">Takeshi Kitano in<cite title="Source Title">"Kitano par Kitano"</cite></footer>
	</div>

</section>