<!-- Footer -->
<hr class="break"><footer style="background:transparent !important;" >

  <div class="new">
  <div class="loader">
    <span></span>
    <span></span>
    <span></span>
      <div class="footer-copyright text-center py-7">© 2020 Copyright:
    <a href="#"> Sevendev</a>
      </div>
    <span></span>
    <span></span>
    <span></span>
    <span></span>

</div>
</div>
</footer>
<!-- Footer -->

