  <h2 class="h2css text-center"> Formation </h2>
<div class="card-deck">
  
<div class="jumbotron jumbotron-fluid formation h-100 w-70" id="formation">
  <ul class="timeline">
	<li>
    <div class="card mb-3" style="max-width: 940px;">
  		<div class="row no-gutters">
    		<div class="col-md-4">
      			<%= image_tag("thp.png", class: "card-img", alt: "...")%>
    		</div>
    		<div class="col-md-8">
      			<div class="card-body">
        			<h5 class="card-title">The Hacking Project</h5>
        				<p class="card-text">BootCamp de 3 mois dans l'apprentissage de Ruby on Rails.</p>
        				<p class="card-text"><small class="text-muted">Mars 2019 - Juin 2019</small></p>
      			</div>
    		</div>
  		</div>
	</div>
</li>

  <li>
  <div class="card mb-3" style="max-width: 940px;">
      <div class="row no-gutters">
        <div class="col-md-4">
            <%= image_tag("oc.jpg", class: "card-img", alt: "...")%>
        </div>
        <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Open Classroom</h5>
                <p class="card-text">Site de formation en ligne reconnu en france. J'ai suivie les cours sur HTML, CSS, Ruby et Ruby on Rails</p>
                <p class="card-text"><small class="text-muted">Janvier 2019 - Decembre 2019</small></p>
            </div>
        </div>
      </div>
  </div>
</li>

  <li>
    <div class="card mb-3" style="max-width: 940px;">
      <div class="row no-gutters">
        <div class="col-md-4">
            <%= image_tag("udemy.png", class: "card-img", alt: "...")%>
        </div>
        <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Udemy</h5>
                <p class="card-text">Site de formation en ligne. Je suis actuellement une formation sur python et une sur JavaScript</p>
                <p class="card-text"><small class="text-muted">Avril 2020 - Mai 2020</small></p>
            </div>
        </div>
      </div>
  </div>
</li>
</ul>
</div>
</div>