
	<h2> Compétences </h2>

<div class="jumbotron jumbotron-fluid skillbar" style="background:transparent !important" id="competences">
	

<div class="card-group">
	<div class="col-sm-6">
		<div class="card h-100 w-100 border-0" style="width: 30rem;">
			<p>HTML</p>
				<div class="container_skillbar">
	  				<div class="skills html">70%</div>
				</div>
			<p>CSS</p>
				<div class="container_skillbar">
	  				<div class="skills css">70%</div>
				</div>
			<p>RUBY</p>
				<div class="container_skillbar">
			  		<div class="skills ruby">60%</div>
				</div>
			<p>JAVASCRIPT</p>
				<div class="container_skillbar">
			  		<div class="skills js">50%</div>
				</div>
		</div>
	</div>
		<div class="col-sm-6">
			<div class="card h-100 w-100 border-0" style="width: 30rem;">
				<p>Bootstrap</p>
					<div class="container_skillbar">
	  					<div class="skills bootstrap">70%</div>
					</div>
				<p>Rails</p>
					<div class="container_skillbar">
	  					<div class="skills rails">70%</div>
					</div>
				<p>Postgresql</p>
					<div class="container_skillbar">
			  			<div class="skills pg">60%</div>
					</div>
				<p>React</p>
					<div class="container_skillbar">
			  			<div class="skills react">20%</div>
					</div>
			</div>
		</div>
	</div>

