/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	margin: 0;
	padding: 0;
	/*background: linear-gradient(#00d4ff 30%, #090979);*/
	/*background: #d5dcde;*/
	background: white;
}

a {
	color: white;
}
a:hover {
	color: grey;
}

.h2css {
	padding-top: 2%;
	padding-bottom: 40px;
}

/*hr {
 	margin-top: 40px;
 	max-width: 50%;
 	border: 7px solid black;
 	border-radius: 5px; 
 	position: relative;

 }*/

/* Navbar */
nav a {
	color: black;
}

.bg-dark {
	background-color: #bdbdbd !important;
}
.bg-dark.scrolled {
	/* background: black !important;*/
	background: linear-gradient(#000 30%, #0000) !important;
}

/* About */

.break {
  height: 1px;
  background-color: rgba(88, 153, 226, 0.3);
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
.socials a {
  color: rgb(144, 144, 144);
}
.social-link {
  font-size: 2em;
  margin: 5px 5px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.bio {
  text-align: center;
  padding: 0px 150px;
  margin-bottom: 10%;
}
.avatar {
  margin-top: 50px;
  margin-bottom: 75px;
  margin-left: 40%;
  margin-right: 20%;
  border-radius: 50%;
  box-shadow: 0px 5px 5px rgba(20, 20, 20, 0.3);
}
.title {
	margin-top: 12%;
	margin-left: 43%;
}
.subtitle {
	color: grey;
	font-size: 1.7rem;
	margin-left: 36%;
	margin-bottom: 5%;
}

/* Banner */

.banner {
}

/* SkillBar */

.h2skillbar {
	padding-top: 3%;
	padding-bottom: 40px;
}

/* Container for skill bars */
.container_skillbar {
  width: 100%; /* Full width */
  padding-left: 0;
  background-color: #ddd; /* Grey background */
  border: 5px transparent;
  border-radius: 10px;
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
  border-radius: 10px;
}

.skillbar {
	padding-top: 7%;
	padding-left: 7%;
	padding-right: 7%;
	margin-left: 8%;
	margin-right: 8%;
	margin-bottom: 10%;
	margin-top: 5%;
	background:white;
}

.html {width: 70%; background-color: #4CAF50;} /* Green */
.css {width: 70%; background-color: #2196F3;} /* Blue */
.js {width: 50%; background-color: #f44336;} /* Red */
.ruby {width: 60%; background-color: #808080;} /* Dark Grey */

.bootstrap {width: 70%; background-color: blue;} /* Green #4CAF50 */
.rails {width: 70%; background-color: red;} /* Blue #2196F3 */
.pg {width: 50%; background-color: yellow;} /* Red #f44336 */
.react {width: 20%; background-color: purple;} /* Dark Grey #808080*/


/* Formation */

.formation {
	padding-top: 4%;
	padding-left: 7%;
	padding-right: 7%;
	margin-left: 8%;
	margin-right: 8%;
	margin-bottom: 7%;
	background:white;
	/* background:#1692b5; */
}

/* Timeline */
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    margin-top: 100px;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

/* Portfolio */

.h2portfolio {
	padding-top: 5%;
}

.portfolio {
	padding-top: 10%;
	padding-left: 7%;
	padding-right: 7%;
	margin-bottom: 10%;
	margin-left: 8%;
	margin-right: 8%;
	margin-top: 10%;
	background:white;
	/* background:#1692b5; blue */
}

/* Hover and shadow card */

.card:hover {
	-webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
	box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
}

/* New page test */

.new {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50vh;
	max-height: 100%;
	/*background: #2196f3;*/
	background:white;
}

.loader {
	position: relative;
	display: flex;
}

.loader span {
	width: 50px;
	height:300px;
	margin: 0 20px;
	background: #2196f3;
	animation: animate 1.4s linear infinite;
}

.loader span:nth-child(1)
{
	animation-delay: 0s;
}
.loader span:nth-child(2)
{
	animation-delay: 0.2s;
}
.loader span:nth-child(3)
{
	animation-delay: 0.4s;
}
.loader span:nth-child(4)
{
	animation-delay: 0.6s;
}
.loader span:nth-child(5)
{
	animation-delay: 0.8s;
}
.loader span:nth-child(6)
{
	animation-delay: 1s;
}
.loader span:nth-child(7)
{
	animation-delay: 1.2s;
}
@keyframes animate 
{
	0%
	{
		box-shadow: 0 0 0 rgba(0,0,0,.5);
		opacity: 0;
		transform: translateX(-50px) scale(1);
	}
	50%
	{
		box-shadow: 0 20px 50px rgba(0,0,0,.5);
		opacity: 1;
		transform: translateX(0px) scale(1.2);
	}
	100%
	{
		box-shadow: 0 0 0 rgba(0,0,0,.5);
		opacity: 0;
		transform: translateX(50px) scale(1);
	}
}

/* Citation */

.h2citation {
	padding-top: 3%;
	padding-bottom: 40px;
}

.citation {
	/*padding: 1% 10% 0% 10%;*/
	margin-left: 20%;
	margin-right: 18%;
	margin-bottom: 10%;
	margin-top: 5%;
	/* border: solid; */
	background:grey;
	/* background:#1692b5; blue */
}

.citationp {
	float: left;
}

/* Footer */

footer a {
	color: black;
}

.footer-copyright {
	margin-top: 15%;
}